{% extends "base.twig" %}

{% block 404 %}

<div class="404__container">
<img src="../assets/images/" alt="404-not-found-banner">
<h1 class="404__message">Sorry this page does not exist</h1>
</div>

{% endblock %}