{% extends "base.twig" %}

{% block about %}
     <section class="about">
          <div class="about__test">
               <p class="about__me-text"></p>
          </div>
     </section>
{% endblock %}

