{% block html_head_container %}
{% include 'html-header.twig' %}


{% block head %}

{% endblock %}
	</head>
{% endblock %}
     

<html lang="en">
<body class="container">
 {% block sidebar %}
  {% include 'sidebar.twig'%}
 {% endblock %}


  {% block content %}


        
  {% endblock %}




{% block footer %}

    {% include "footer.twig" %}

{% endblock %}

{# {{ add_script() }} #}
<script src="{{ theme.link }}/assets/js/app.js"/>

</body>
</html>