{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
     

<html lang="en">
<body class="container">
 {% block sidebar %}
  {% include 'sidebar.twig'%}
 {% endblock %}
    <section id="content" role="main" class="content-wrapper">


      {% block content %}
        
      {% endblock %}

 
    </section>

  <script src="../assets/js/app.js"></script>

   {%  block footer %}
  {% include 'footer.twig' %}
{% endblock %}


</body>
</html>