{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
{% endblock %}
	</head>
{% endblock %}
     

<html lang="en">
<body class="container">
 {% block sidebar %}
  {% include 'sidebar.twig'%}
 {% endblock %}


  {% block content %}


        
  {% endblock %}





{% block footer %}

    {% include "footer.twig" %}

{% endblock %}

<script src="../assets/js/app.js"></script>



    


</body>
</html>