{% extends "base.twig" %}


{% block content %}

{% block headercontent %}
        {% include "header.twig" %}

        <div class="realtors">
               <a href="http://timberwp.local/team/">
    
                    <button class="btn header__btn">
                    Realtor Team Members
                     </button>
                </a>
            <div class="realtors__list">
                <img src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670448601/realtor-1.jpeg" alt="Realtor 1" class="realtors__img">
                <div class="realtors__details">
                    <h4 class="heading-4 heading-4--light mx-1">Erik Feinman</h4>
                </div>

                <img src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670448601/realtor-2.jpg" alt="Realtor 2" class="realtors__img">
                <div class="realtors__details">
                    <h4 class="heading-4 heading-4--light mx-1">Kim Brown</h4>
                </div>

                <img src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670448601/realtor-3.jpeg" alt="Realtor 3" class="realtors__img">
                <div class="realtors__details">
                    <h4 class="heading-4 heading-4--light mx-1">Toby Ramsey</h4>
                </div>

            
            </div>
        </div>

{% endblock %}


 
{% endblock %}  