

{% block headercontent %}

<header class="header">
     <img src="http://timberwp.local/wp-content/uploads/logo.png" alt="Nexter logo" class="header__logo">
     <h3 class="heading-3">Premium reality experience</h3>
     <h1 class="heading-1">The ultimate personal freedom</h1>
     
     <a href="http://timberwp.local/properties/">
     
     <button class="btn header__btn">
    View Our Properties
     </button>
     
     </a>
     <div class="header__seenon-text">Seen on</div>
     <div class="header__seenon-logos">
         <img class="logo-home__image" src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670456374/logo-bbc.png" alt="Seen on logo 1">
         <img class="logo-home__image" src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670456374/logo-forbes.png" alt="Seen on logo 2">
         <img class="logo-home__image" src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670456374/logo-techcrunch.png" alt="Seen on logo 3">
         <img class="logo-home__image" src="https://res.cloudinary.com/dzq4e9ovo/image/upload/v1670456374/logo-bi.png" alt="Seen on logo 4">
     </div>
 </header>

{% endblock %}