
.contact__content-wrapper{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap:1rem;
     padding:1rem;




     @media screen and (max-width:$bp-small) and (max-width:$bp-medium) {
          grid-template-columns: 1fr;
          padding:.5rem;
     }
}

.about__article-wrapper {
     margin:10rem;
     display:flex;
     flex-flow:column;
     text-align: center;
     gap:.5rem;
     grid-column: full-start / full-end;
     background: $color-grey-light-1;
     color:$color-off-black;
}

.heading-title{
     font-size:4rem;
     margin-bottom:1.5rem;

      @media screen and (max-width:$bp-small) and (max-width:$bp-medium) {
          font-size:2rem;
          margin-bottom:.5rem;
     }
}

#text-name-label{

}


#email-label{

}


#subject-label{

}


#message-label{

}


.wpcf7-submit {
@extend .btn;

padding:1rem;
width:15rem;


}

input{
     height:4rem;
     background-color:#eaeaea;
     border:none;
     border-radius:1rem;
     margin-bottom:1.5rem;
     padding:10px;
     font-family: $font-primary;
}

textarea{
     @extend input;
     height:24rem;
    
}

