
.contact__content-wrapper{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap:1rem;
     padding:1rem;




     @media screen and (max-width:$bp-small) and (max-width:$bp-medium) {
          grid-template-columns: 1fr;
          padding:.5rem;
     }
}

.about__article-wrapper {
     display:flex;
     flex-flow:column;
     text-align: right;
     gap:.5rem;
     grid-column: 2;
     background: $color-grey-light-1;
     color:$color-off-black;
}

.heading-title{
     font-size:4rem;
     margin-bottom:1.5rem;

      @media screen and (max-width:$bp-small) and (max-width:$bp-medium) {
          font-size:2rem;
          margin-bottom:.5rem;
     }
}