//variables for nav button toggle

$height-icon: 70px;
$width-line: 120px;
$height-line: 2px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;


.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }
}

.nav-btn {
    border: none;
    border-radius: 10px;

    background-color: rgb(9, 9, 9);
    height: 3px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        background-color: rgb(29, 29, 29);
        height: 3px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }

    @media only screen and (max-width: $bp-large) {
        margin-top: 0;
        margin-right: 3rem;

        &::before { transform: translateY(-1.2rem); }
        &::after { transform: translateY(1rem); }
    }
}

.nav-button-line{
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
}

.nav-hidden{
    display: none;
    transform: translateX(-1000px);
    opacity: 0;
}

.nav-open{
width:100vw;
height:100vh;
display:absolute;
background-position: cover;
background-color: $color-secondary-dark;
transition: all .25s ease-in;
transform: translateX(-1000px);
opacity: 1;
}